@import "tailwindcss";

:root {
  --background: #F5F6F8;
  --foreground: #2F2F2F;
  --primary: #0B3D91;
  --accent: #FF7A00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-grey-dark: #2F2F2F;
  --color-grey-light: #F5F6F8;
  
  --font-cairo: "Cairo", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

